09-real-world-projects/02-e-commerce-catalog/schemas/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="store-name" type="xs:string" />
              <xs:element name="default-currency" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="categories">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="brands">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="brand" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="products">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="product" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="short-description" type="xs:string" />
                    <xs:element name="pricing">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="list" type="xs:decimal" />
                          <xs:element name="current" type="xs:decimal" />
                          <xs:element name="currency" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="inventory">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="stock" type="xs:nonNegativeInteger" />
                          <xs:element name="warehouse" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="rating" type="xs:decimal" />
                    <xs:element name="variants">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="variant" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="format" type="xs:string" />
                                <xs:element name="stock" type="xs:nonNegativeInteger" />
                              </xs:sequence>
                              <xs:attribute name="code" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="reviews">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="review" maxOccurs="unbounded">
                            <xs:complexType mixed="true">
                              <xs:attribute name="user" type="xs:string" use="required" />
                              <xs:attribute name="score" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="sku" type="xs:string" use="required" />
                  <xs:attribute name="category-ref" type="xs:string" use="required" />
                  <xs:attribute name="brand-ref" type="xs:string" use="required" />
                  <xs:attribute name="status" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="generated-on" type="xs:date" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
